#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 252, 174);
}

.deli {
  height: 2em;
  padding: 0.5em;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;
  color: rgb(229, 129, 6);
  background-color: rgba(241, 255, 43, 0.844);
}
.chippy {
  filter: drop-shadow(0 0 2em #11d0fbaa);
}
.chippy {
  filter: drop-shadow(0 0 2em #0bff79e2);
}

p {
  color: rgba(61, 183, 249, 0.927);
  font-size: 70px;
}
button {
  color: rgb(4, 79, 78);
  align-items: center;
}

.chippy {
  background-color: rgba(255, 136, 251, 0.671);
  color: rgb(146, 2, 144);
  height: 150px;
  width: 150px;
  border-radius: 45%;
  font-size: 25px;
  font-family: monospace;
  flex-direction: row;
  align-items: center;
}
